.btn-back {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  font-family: 'Neueyokarto';
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;

  @media (max-width: 767px) {
    top: 78px;
    left: 5px;
    font-size: 13px;
    padding: 10px 0px;
    width: 50px;
  }
}

.btn-back:active,
.btn-back:hover {
  outline: 0;
}

.btn-back:hover {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.19);
}
