@font-face {
  font-family: 'Neueyokarto';
  src: local('Neueyokarto'), local('Neueyokarto'),
    url('../fonts/Neueyokarto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GnarlyBone';
  src: local('GnarlyBone'), local('GnarlyBone'),
    url('../fonts/GnarlyBone.otf') format('OpenType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playball';
  src: local('Playball'), local('Playball'),
    url('../fonts/Playball.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}