.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;  
}

.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem; 
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #dedede;
  border-radius: 50px;
  cursor: pointer;  
}

.pagination-number.active {
  color: #fff;
  background: #949494;
  border-radius: 50px;
}