@font-face {
  font-family: 'Neueyokarto';
  src: local('Neueyokarto'), local('Neueyokarto'),
    url('../fonts/Neueyokarto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Neueyokarto';
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {  
  margin: 0;
  padding: 0;  
}

h1 {  
  display: flex;  
  justify-content: center;
  margin-top: 20px;
}

.container {
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}

.navigate {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  font-size: 24px;
}

.search-container{
  width: 490px;
  height: 45px;
  display: block;
  margin: 20px auto;
}

#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE; 
  border-radius: 30px; 
  outline: none;
  
  &:focus{
    border: 1px solid #008ABF;   
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

 #search-button {
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
  bottom: 40px;
  left: 480px;
 }

.search-icon { 
  width: 35px;
  height: 35px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;   
  float: none;
}

.photo-card {
  width: calc(100% / 4 - 10px * 2);
  margin: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 4, 56, 0.5);
  border-radius: 8px;
  overflow: hidden; 
}

.photo-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.end-collection-text {
  margin: 30px 0 30px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.btn-back {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  position: absolute;  
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 10px 15px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.btn-back:active,
.btn-back:hover {
  outline: 0;
}

.btn-back:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .btn-back {
    font-size: 20px;
    min-width: 100px;   
  }
}

.info__span {
  font-family: Arial, Helvetica, sans-serif;
}