@import url('./_fonts.scss');
@import url('./_search.scss');
@import url('./_button-back.scss');
@import url('./_home.scss');
@import url('./_gallery.scss');
@import url('./_loadmore.scss');
@import url('./_pagination.scss');

body {
   margin: 0;  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
}

a {
  cursor: pointer;
  text-decoration: none;  
  font-family: 'Neueyokarto'; 
  color: rgb(96, 96, 96);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {  
  margin: 0;
  padding: 0;  
}

.title {
  display: flex;  
  justify-content: center;
  margin-top: 20px;
  font-family: 'Neueyokarto'; 
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fffffff0;
  padding-bottom: 1px;
  padding-top: 1px;
}

.is-hidden {
  display: none;
}